# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
DATABASE_URL="file:./db.sqlite"

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"

SINGLESTORE_PASS=ok
SINGLESTORE_USER=user
SINGLESTORE_HOST = svc
SINGLESTORE_PORT = 3
SINGLESTORE_DB_NAME=DRIVE
